@tailwind base;
@tailwind components;
@tailwind utilities;

.company-card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
}

.menu-bottom-section {
  box-shadow: 0px -3px 14px rgba(0, 0, 0, 0.03);
}

.menu-items-div {
  height: calc(100vh - 218px);
}



.col-1 {
  min-width: 219px;
  max-width: 219px;
}

.col-2{
  min-width: 95px;
  max-width: 95px;
}

.col-3 {
  min-width: 250px;
  max-width: 250px;
}

.col-4 {
  min-width: 168px;
  max-width: 168px;
}

.col-5 {
  min-width: 248px;
  max-width: 248px;
}


.table-scroll {
  height: calc(100vh - 178px);
}


.col-1-header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 22;
  background: white;
}

.col-6-header {
  /* position: sticky; */
  right: 0;
  top: 0;
  z-index: 22;
  background: white;
}

.col-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.table-shadow-col {
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.04);
  position: sticky;
  left: 0;
  z-index: 1;
  background: white;
}

.last-col {
  /* position: sticky; */
  right: 0;
  z-index: 1;
  background: white;
}